.wordleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  .tittle {
    margin-top: 3%;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 3rem;
  }
  .inputContainer {
    position: relative;
    margin-top: 20%;
    .slideUp {
      display: inline-block;
      width: 300px;
      padding: 10px 0 10px 15px;
      font-family: "Open Sans", sans;
      font-weight: 400;
      color: black;
      background: #efefef;
      border: 0;
      border-radius: 3px;
      outline: 0;
      text-indent: 80px; // Arbitrary.
      transition: all 0.3s ease-in-out;

      &::-webkit-input-placeholder {
        color: #efefef;
        text-indent: 0;
        font-weight: 300;
      }

      + label {
        display: inline-block;
        position: absolute;
        transform: translateX(0);
        top: 0;
        left: 0;
        padding: 10px 15px;
        text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
        transition: all 0.3s ease-in-out;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        overflow: hidden;

        &:before,
        &:after {
          content: "";
          position: absolute;
          right: 0;
          left: 0;
          z-index: -1;
          transition: all 0.3s ease-in-out;
        }
        &:before {
          // Skinny bit here
          top: 6px;
          left: 5px;
          right: 5px;
          bottom: 6px;
          background: #1970d3; // change this to #134A46
        }
        &:after {
          top: 0;
          bottom: 0;
          background: #1970d3;
        }
      }
      &:focus,
      &:active {
        color: black;
        text-indent: 0;
        background: #fff;

        &::-webkit-input-placeholder {
          color: #aaa;
        }
        + label {
          transform: translateY(-100%);

          &:before {
            border-radius: 5px;
          }
          &:after {
            transform: translateY(100%);
          }
        }
      }
    }
  }
  .messageContainer {
    margin-top: 3%;
  }
}
